*{
  font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0;
  height: 100vh;
}


.nome-foto{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 10%;
}

.nome{
    color: white;
    display: inline-block;
    font-size: 40pt;
}

.foto-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(70, 70, 70);
  display: block;
}

.menu{
   margin-top: 20%;
   margin-bottom: 20%;
}
nav {
  text-align: center;
  margin-top: 50px;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0px 50px 0;
  font-size: 20pt;
  position: relative;
  font-weight: 100;
}

nav a::after{
  content: " ";
  width: 0%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}



main h2{
  color: rgb(255, 255, 255);
  font-size: 20pt;
}