*{
  font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
}

body {
  background-color: #020507;
  margin: 0;
  height: 100vh;
}


.nome-foto{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 10%;
}

.nome{
    color: white;
    display: inline-block;
}

.foto-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(70, 70, 70);
  display: block;
}

.menu{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
nav{
  display: flex;
  gap: 20px;
}